@import url(http://fonts.googleapis.com/css?family=Lobster);



h1{
	font-weight: 1000;
	margin-bottom: 50px;
	font-family: 'lobster', cursive;
}

.content article{
	padding: 100px;
	padding-top: 150px;
	padding-bottom: 150px;
	max-width: 640px;
  margin: 0 auto;
  text-align: left;
}

.content h1{
	text-align: center;
}

.stuff{
	height: 2000px;
}

.box{
	position: relative;
	height: 620px;
	width: 100%;
	background-image: url("../images/BG.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	background-attachment: fixed;
}

.logo{
	height: 100px;
	width: 100%;
	background-image: url("../images/logo.png");
	background-position: center;	
	position: absolute;
	top: 50%;
	margin-top: -50px;	
}

.nav{
	background-color: rgba(0,0,0, 0.9);
	height: 43px;
	width: 100%;
	z-index: 1;
}

.nav li{
	display: inline-block;
	margin: 10px;
	float: right;
}

.fixed{
	position: fixed;
	top: 0;
}

figure{
	display: inline-block;
	position: relative;
}

.work h1{
	font-size: 80px;
}

.work{
	position: relative;
	padding: 100px;
	width: 100%;
	background-color: lightgrey;
	display: block;
	float: left;
}

.work img{
	margin: 30px;
	margin-left: 60px;
	background: blue;
	opacity: 0;
	transform: translateX(-20);
	transition: all 0.3s ease-in-out;
}



.work .is-showing{
	opacity: 1;
	transform: translateX(0px) ;
}




.photograph{
	padding: 100px;
}

.photograph h1{
	font-size: 80px;
}

.me_window{
	margin-left: 11%;
	height: 330px;
	width:330px;
	background-image: url("../images/pic.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 400px 400px;
	background-attachment: fixed;
	border-radius: 165px;
	margin-bottom: 30px;
	position: relative;
}

.tint{
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 50%;
}

.face-text{
	color: white;
	margin-top: 50%;
	font-family: Copperplate;
	font-weight: 100;
	font-size: 18px;
	text-align: center;
}

img{
	display: block;
	transform: scale(1);
}

figcaption{
	position: absolute;
	display: block;
	width: 398px;
	bottom: 30px;
	left: -400%;
	background-color: rgba(0,0,0,0.5);
	color: white;
	padding: 2px 8px;
	transition: all 0.5s ease-in-out;
	overflow: hidden;
	font-family: "Lato", sans-serif;
}

figure{
	overflow: hidden;
}

figure:hover figcaption{
	left: 12.4%;
}

figure:hover{
	transform: scale(1.2);
	transition: all 0.5s ease-in-out;
}

figure a{
	color: magenta;
	border: 1px solid magenta;
	font-weight: 50;
	opacity: 1;
}

p {
	font-family: "Times New Roman", Times, serif;;
	font-weight: 300;
}







