@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,700,800);

body{
	background-color: #303232;
}

a{
	color: blue;
}

a:hover{
	color: white;
}

h1{
	font-weight: 1000;
	margin-bottom: 50px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 80px;
	font-weight: 600;
	color: white;
}

.content article{
	padding: 100px;
	padding-top: 150px;
	padding-bottom: 150px;
	max-width: 800px;
  margin: 0 auto;
  text-align: left;
  color: whitesmoke;
}

.content{
	background-color: #303232;
}

.youtube{
	margin-left: 250px;
}


.box{
	position: relative;
	height: 600px;
	width: 100%;
	background-image: url("../images/BG.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	background-attachment: fixed;
	overflow: hidden;
}

.logo{
	height: 300px;
	width: 100%;
	background-image: url("../images/kimchi4.png");
	background-position: center;	
	background-repeat: no-repeat;
	position: absolute;
	top: 50%;
	margin-top: -150px;	
	z-index: 5;
	opacity: 0.8;
}

.building{
	width: 960px;
	height: 800px;
	background-image: url("../images/building.png");
	background-repeat: no-repeat;
	background-position: right bottom;
	position: absolute;
	left: 50%;
	margin-left: -480px;
	top: 150px;
	color: white;
}

.nav{
	background-color: #363838;
	height: 43px;
	width: 100%;
	z-index: 1;
}

.nav li{
	display: inline-block;
	margin: 10px;
	float: right;
}

.nav li a {
	color: white;
	font-size: 14px;
	line-height: 20px;
	margin-right: 10px;
}

.nav li a:hover {
	color: rgb(25, 198, 179);
	font-size: 16px;
	margin-right: 5px;
	transition: all 0.5s ease-in-out;
	text-decoration: none;
}

.fixed{
	position: fixed;
	top: 0;
}

figure{
	display: inline-block;
	position: relative;
}

.work h1{
	font-size: 80px;
	font-weight: 800;
}

.work{
	position: relative;
	padding: 100px;
	width: 100%;
	background-color: #474C49;
	color: whitesmoke;
;
	display: block;
	float: left;
	text-align: center;
}

.work img{
	margin: 30px;
	margin-left: 70px;
	background: blue;
	opacity: 0;
	transform: translateX(-20);
	transition: all 0.3s ease-in-out;

}

.work .is-showing{
	opacity: 1;
	transform: translateX(0px) ;
}

.photograph{
	padding: 50px;
	background-color: #303232;
	color: whitesmoke;
}

.photograph h1{
	font-size: 80px;
}

.me_window{
	margin: auto;
	height: 330px;
	width:330px;
	background-color: white;
	background-image: url("../images/pic.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 400px 400px;
	background-attachment: fixed;
	border-radius: 165px;
	margin-bottom: 80px;
	position: relative;
}

.tint{
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 50%;
}

.face-text{
	color: white;
	margin-top: 50%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	font-size: 18px;
	text-align: center;
}

img{
	display: block;
	transform: scale(1);
}

figcaption{
	position: absolute;
	display: block;
	width: 400px;
	height: 204px;
	bottom: 30px;
	left: -400%;
	background-color: rgba(0,0,0,0.75);
	color: white;
	padding: 2px 8px;
	transition: all 0.5s ease-in-out;
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 100;
	text-align: left;
	padding: 15px;
	text-align: center;
}

figure{
	overflow: hidden;
}

figure:hover figcaption{
	left: 14%;
}

figure:hover{
	transform: scale(1.2);
	transition: all 0.5s ease-in-out;
}

figure a {
	color: rgb(25, 198, 179);
	font-weight: 50;
	opacity: 1;
}

figure a:hover {
	text-decoration: none;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	font-size: 17px;
}

.photograph img{
	height: 500px!important;
	width: auto;
	margin: 0 auto;
	
}

.carousel-inner{
	height: 500px;
	background-color: #303232;
}

.carousel{
	width: 750px;
	margin: 0 auto;
}

.carousel-control.right,
.carousel-control.left {
	background: none;
}

.dance{
	background-color: #474C49;
	color: whitesmoke;
	padding-top: 100px;
	padding-bottom: 100px;
}

footer {
	padding: 50px;
	background: rgb(30, 30, 30);
}

i {
	font-size: 50px!important;
	color: rgb(25, 198, 179);
}

i.fa:hover{
	color: white;
	transform: scale(1.2);
	transition: all 0.5s ease-in-out;
}

.border{
	background-color: #ecf0f1;
	width: 100%;
	height: 10px;
}

.top_border {
	background-color: #ecf0f1;
	width: 100%;
	height: 3px;
}

footer h1 {
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
}

footer i {
	margin: 0 10px;
}

.footer {
	text-align: center;
}












